@model RallyPortal.Team

@{
    ViewBag.Title = "Details";
}

@section featured {
    @Html.Partial("_featured", new RallyPortal.Models.FeaturedData { ImageUrl = Model.TeamImageUrl, Title = "Team: " + Model.TeamName + " Driver: " + Model.DriverName + " Co-Driver: " + Model.CoDriverName })
}
<div class="title main-title">
    team <span>details</span>
</div>

<div class="title module-blue">
    team <span>summary</span>
</div>

<div class="entry">
    <div class="inner1">
        <div class="entry-image" style="background-image: url(@Url.Action("GetPhotoThumbnail",
     new { path = Model.TeamImageUrl, width = 701 }));">
        </div>
        <div class="entry-title">Team - @Model.TeamName</div>
    </div>
    <div class="inner5">
        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.TeamSummary))</p>
    </div>
</div>

<div class="title module-blue">
    driver <span>summary</span>
</div>

<div class="entry">
    <div class="inner1">
        <div class="entry-image" style="background-image: url(@Url.Action("GetPhotoThumbnail",
     new { path = Model.DriverImageUrl, width = 701 }));">
        </div>
        <div class="entry-title">Driver - @Model.DriverName</div>
    </div>
    <div class="inner5">
        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.DriverSummary))</p>
    </div>
</div>

<div class="title module-blue">
    co-driver <span>summary</span>
</div>

<div class="entry">
    <div class="inner1">
        <div class="entry-image" style="background-image: url(@Url.Action("GetPhotoThumbnail",
     new { path = Model.CoDriverImageUrl, width = 701 }));">
        </div>
        <div class="entry-title">Co-Driver - @Model.CoDriverName</div>
    </div>
    <div class="inner5">
        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.CoDriverSummary))</p>
    </div>
</div>
