@model RallyPortal.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@section featured {
    @Html.Partial("_featured", new RallyPortal.Models.FeaturedData { Title = "Create a new account", ImageUrl = "~/Images/login.jpg" })
}

<div class="title main-title">
    Manage <span>Account</span>
</div>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
