@model RallyPortal.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@section featured {
    @Html.Partial("_featured", new RallyPortal.Models.FeaturedData { Title = "Create a new account", ImageUrl = "~/Images/login.jpg" })
}

<div class="title main-title" >
    Register <span>account</span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailAddress)
                @Html.PasswordFor(m => m.EmailAddress)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
