@model RallyPortal.Highlights

@{
    ViewBag.Title = Model.Title;
}

@section featured {
    @Html.Partial("_featured", new RallyPortal.Models.FeaturedData { ImageUrl = Model.ImageUrl, Title = Model.Title })
}

@section metadata {
    @Html.Partial("_metadata", Model)
}

<div class="entry">
    <div class="inner1">
        <div class="entry-image" style="background-image: url(@Url.Action("GetPhotoThumbnail",
     new { path = Model.ImageUrl, width = 701 }));">
        </div>
        <div class="entry-title">Highlights: @Model.Title</div>
    </div>
    <div class="inner5">
        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</p>
        <p>@Html.Raw(Model.VideoUrl)</p>        
        @Html.Partial("_social", Model) 
    </div>
    <div class="inner2">
        <div class="inner3">
            By @Model.AuthorName, <span>@Model.LastModifiedDate.ToShortDateString()</span>
        </div>
        <div class="inner4">
            <span class="comment">@Model.Comment.Count</span>
        </div>
        <div class="clear"></div>
    </div>
</div>
@Html.Partial("_comment", new RallyPortal.Models.CommentData { Id = Model.Id, Comments = Model.Comment })